@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,600&display=swap');

/* .section-body{
    background-color: #8EC5FC;
background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);

} */

.sliderHeading{
    font-family: 'Barlow', sans-serif;
    font-size: 4.5rem;
}

.text-grad{
    background: -webkit-linear-gradient(0deg, rgba(79,70,229,1) 0%, rgba(159,70,229,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
